body{
    margin: 0px;
}
nav{
    display: inline-flex;
    vertical-align: top;
    margin-top: 50px;
    margin-right: 5%;
    position: absolute;
    right: 0;
}
nav a{
    text-decoration: none;
    color: #373737;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 17;
    margin-right: 70px;
    padding-top: 5px;
}
nav a:hover{
    text-decoration: underline;
}
#logout{
    border: royalblue 1px solid;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
}
.open-tab{
    background-image: url("../images/Rectangle.png");
    background-position: left bottom;
    background-repeat: no-repeat;
}
.delete-button, .add-button, .cancel-button, .save-button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    padding: 2px;
    color: black;
    display: inline-block;
}
.delete-button:hover, .add-button:hover, .cancel-button:hover, .save-button:hover{
    cursor: pointer;
}
.delete-button{
    background-color: #FF8787;
    font-size: 20px;
}
.delete-button:hover{
    background-color: #fc9c9c;
}
.delete-button:active{
    background-color: #fdaaaa;
}
.add-button{
    background-color: #87CDFF;
    font-size: 20px;
}
.add-button:hover{
    background-color: #9ad4fd;
}
.add-button:active{
    background-color: #a6daff;
}
.cancel-button{
    background-color: #c5c5c5;
    font-size: 20px;
}
.cancel-button:hover{
    background-color: #d1d1d1;
}
.cancel-button:active{
    background-color: #e2e2e2;
}
.save-button{
    background-color: #85B204;
    font-size: 20px;
}
.save-button:hover{
    background-color: #98ce06;
}
.save-button:active{
    background-color: #a6e005;
}