<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/administrator.css">
    <title>Administrator</title>
</head>
<body>
    <div id="header">
        <img id="logo" src="static/img/Logo.png">
        <nav>
            <a href="/">Home</a>
            <a href="#">Arrivals / Departures</a>
            <a href="#">Tickets</a>
            <a href="./myTickets">My tickets</a>
            <a href="./administrator" class="open-tab">Administrator</a>
            <a id="logout" href="#">Log out</a>
        </nav>
    </div>
    <h1>Administrator</h1>
    <a href="./manageAirports">Manage airports</a>
    <br>
    <a href="./manageFlights">Manage flights</a>
    <br>
    <a href="./statistics">Statistics</a>
</body>
</html>