<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Lidosta</title>
</head>

<body>
    
    {% with selected="home" %}
      {% include "header.html" %}
    {% endwith %}

    <div id="intruduction">
        <h1>Aether X</h1>
        <h2>The Future of <span>Flight</span></h2>
        <p>Building global airport to airline network solutions</p>
        <a href="./Tickets">Book now →</a>
    </div>

    <div id="featured-airports">
        <h3>FEATURED AIRPORTS</h3>
        <img src="static/img/airports/logo_400x145_72dpi 1.png" alt="PKX">
        <img src="static/img/airports/1200px-BER_Logo_en 1.png" alt="BER">
        <img src="static/img/airports/organisation-2498-scaled-300x130-removebg-preview 1.png" alt="RIX">
        <br>
        <button class="current-featured-airports" type="button">
            <i class="fas fa-circle"></i>
        </button>
        <button class="not-featured-airports" type="button">
            <i class="fas fa-circle"></i>
        </button>
        <button class="not-featured-airports" type="button">
            <i class="fas fa-circle"></i>
        </button>
        <button class="not-featured-airports" type="button">
            <i class="fas fa-circle"></i>
        </button>
    </div>

    <div id="our-services">
        <h2>Our Services</h2>
        <p> We offer global air travel networks,<br>
            bringing together the largest airports and airlines.</p>
        <div>
            <img src="static/img/ArrivalsDepartures.svg" alt="arrivals departures">
            <h3>Arivals / Departures</h3>
            <p>Track the arivals and departures of <br>
                planes from airports all around the <br>
                globe.</p>
            <a href="./arrivalsDepartures">Learn More <img src="static/img/arrow_forward_24px.svg" alt="arrow"></img></a>
        </div>
        <div>
            <img src="static/img/Tickets.svg" alt="tickets">
            <h3>Tickets</h3>
            <p>Book a ticket from the best airlines in <br>
                the world.</p>
            <a href="./Tickets">Learn More <img src="static/img/arrow_forward_24px.svg" alt="arrow"></img></a>
        </div>
        <img src="static/img/Apple Macbook Pro 13_ Silver.png" alt="Macbook">
    </div>

    <div id="analyse-manage">
        <h2>Analyse & Manage System Data </h2>
        <a href="./administrator">Administrator <img src="static/img/arrow_forward_24px.svg" alt="arrow"></a>
        <br>
        <img src="static/img/Huge Global.png" alt="world">
    </div>

    <div id="footer">
        <img src="static/img/logoV2.png" alt="logo">
        <br>
        Krišjāņa Valdemāra iela 1C, Centra rajons,
        <br>
        Rīga, LV-1010 <span>© 2021 Aether X</span>
    </div>

    {% include "loginRegisterWindow.html" %}

    <script src="static/js/script.js"></script>
</body>

</html>