<div id="login-window">
    <form id="login-form" action="{}" method="POST">
      <span></span>
      <div class="clearer"></div>
      <label for="email">E-mail: </label>
      <input type="email" name="email"></input>
      <div class="clearer"></div>
      <label for="password">Password: </label>
      <input type="password" name="password"></input>
      <div class="clearer"></div>
      <a id="create-account" class="gray-link" href="#">Create an account</a>
      <br>
      <a id="login-cancel" href="#">Cancel</a>
      <button type="submit" class="button-blue-border">Log in</button>
    </form>
  </div>
</div>

<div id="register-window">
  <form id="register-form" action="{}" method="POST">
    <span></span>
    <div class="clearer"></div>
    <label for="email">E-mail: </label>
    <input type="email" name="email"></input>
    <div class="clearer"></div>
    <label for="password">Password: </label>
    <input type="password" name="password"></input>
    <div class="clearer"></div>
    <label for="password2">Comfirm password: </label>
    <input type="password" name="password2"></input>
    <div class="clearer"></div>
    <a id="register-cancel" href="#">Cancel</a>
    <button type="submit" class="button-blue-border">Register</button>
  </form>
</div>